body {
    width: 100%;
    background-color: white;
    font-family: 'Montserrat', sans-serif !important;
    color: white;
}

h1 {
    font-size: 500% !important;
    font-weight: bold;
    color: white;
}

h3 {
    font-size: 26pt !important;
    font-weight: bold;
    color: #4e4e4e;
}

h4 {
    font-size: 26pt !important;
    font-weight: unset !important;
    color: white;
}

h5 {
    font-size: 20pt !important;
    font-weight: bold;
    color: white;
}

h6 {
    font-size: 14pt !important;
    font-weight: bold;
    color: white;
}

p {
    font-size: 14pt;
    color: #4e4e4e;
}

.clr-blk {
    color: #1c2a33;
}

.clr-cn {
    color: #18cfab;
}

.container {
    padding-top: 35px;
    padding-bottom: 50px;
}


/* Header Section */

.header {
    background-color: #5a5954;
    width: 100%;
    height: 120px;
}

.title {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
}

.logo {
    width: auto;
    display: inline-flex;
}

.bar-sec {
    display: inline-flex;
    float: right;
}

/* Navbar start */

.navbar {
    width: 100%;
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: bold;
    vertical-align: middle;
}

.nav-link {
    color: #8b8a88;
    position: relative;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, font-size 2s ease-in;
    border-bottom: 0px solid;
}

.navbar-nav {
    margin-left: auto !important;
}

.nav-item a:hover {
    color: #18cfab;
    /*font-size: 13pt;*/
    border-bottom: 2px solid;
}

.nav-item a:after {
    content: '';
    left: 0;
    right: 0;
    position: relative;
    bottom: 0;
    transform: translateX(50%) scaleX(0);
    width: 100%;
    height: 5px;
    background-color: #18cfab;
    transition: 250ms;
}

.nav-item a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.search-box {
    visibility: hidden;
}

.search-btn {
    color: grey;
    padding: 8px 8px;
    font-weight: bold;
    font-size: 20px;
}

.search-txt {
    border-radius: 30px;
    background-color: #5a5954;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 0px;
}

.search-box:hover>.search-txt {
    width: 150px;
    height: 40px;
    padding: 0px 8px;
}


/* Navbar end */


/* Header End */


/* Banner Section Start*/

.banner-sec {
    width: 100%;
    height: 88vh;
    background-image: url('../images/bg1.png');
    background-repeat: no-repeat;
    background-position: relative;
    background-size: cover;
}
.ov-blk{
    height: 88vh;
    background:rgba(0,0,0,0.4);
}
.btn{
    margin: 0 25px;
}
.banner-sec .btn {
    border-top-width: 5px;
    border-top-color: white;
    text-decoration: white;
    border-radius: 5px;
}

.banner-con {
    align-items: center;
    text-align: center;
    padding-top: 150px;
}

.banner-con h3 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.banner-con>h3>span {
    color: #18cfab;
}

.banner-con h1 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.banner-con p {
    color: white;
}

.boxes {
    text-transform: uppercase;
    text-align: center;
    height: 250px;
}

.box-cn {
    background-color: #18cfab !important;
    color: white !important;
}

.box-blk {
    background-color: #1c2a33 !important;
    color: #18cfab !important;
}

.b-icons {
    font-size: 300%;
    margin-top: 50px !important;
}

.b-icons h4 {
    margin-top: 20px !important;
    font-size: 13px !important;
    font-weight: bold !important;
}


/* Features */

.feature-head {
    text-align: center;
    width: 53%;
    margin: 50px auto;
}

.feature-head h3 {
    align-items: center;
    color: #4e4e4e;
    position: relative;
    display: inline-flex;
    text-align: center;
    font-weight: bold;
    margin: 50px;
}

.double-underline:after,
.double-underline:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 20%;
    background-color: #18cfab;
    display: block;
    height: 1px;
}

.double-underline:after {
    bottom: -25px;
    left: 40%;
}

.double-underline:before {
    bottom: -20px;
    left: 35%;
}

.feature-text p {
    font-size: 12px !important;
    line-height: 30px;
    text-align: justify;
    margin: 30px 30px 30px 0px;
}

.feature-text i {
    color: #18cfab;
}

.feature-text span {
    margin: 20px !important;
}

.about-sec {
    background-color: #090f14;
    width: 100%;
    height: auto;
}

.about-head {
    margin: 50px auto;
}

.about-head h3 {
    align-items: center;
    color: white;
    position: relative;
    display: inline-flex;
    text-align: center;
    font-weight: bold;
    margin: 50px;
}

.team {
    padding-top: 80px;
    /* background-color: #090f14; */
    height: 677px;
    width: auto;
    float: left;
    padding-bottom: 0 !important;
}

.team img {
    width: 100%;
    height: 500px;
    padding-top: 0%;
    margin-top: 97px;
}

.prob ul{
    cursor: pointer;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding-left: 45spx;
}
.prob ul li{
    list-style: none;
    display: inline-block;
    list-style: none;
    display: inline-flex;
    margin: 0px 20px;
    color: aliceblue;
}
.prog-bar {
    width: 500px;
    background-color: #090f14 !important;
    text-transform: uppercase;
    margin-left: 10%;
}
.prog-bar h6{
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
.progress {
    display: flex;
    height: 2rem !important;
    overflow: hidden;
    font-size: .75rem;
    border-radius: .25rem;
    background-color: #090f14 !important;
    border: 1px solid;
    border-color: white;
}

/* Feature */

.nav-items a:hover {
    color: #18cfab;
    /*font-size: 13pt;*/
    border-top: 2px solid;
}

.nav-items a:after {
    content: '';
    left: 0;
    right: 0;
    position: relative;
    bottom: 0;
    transform: translateX(50%) scaleX(0);
    width: 100%;
    height: 5px;
    background-color: #18cfab;
    transition: 250ms;
}

.nav-items a:hover::after {
    transform: translateX(-50%) scaleX(1);
}
.page-link{
    color: black !important;
}
.page-item a:hover {
    color: #18cfab !important;
    /*font-size: 13pt;*/
    border-top: 2px solid;
}

.page-item a:after {
    content: '';
    left: 0;
    right: 0;
    position: relative;
    bottom: 0;
    transform: translateX(50%) scaleX(0);
    width: 100%;
    height: 5px;
    background-color: #18cfab;
    transition: 250ms;
}
.page-item.active .page-link {
    z-index: 3;
    background-color: ghostwhite !important;

}
.filterElements {
    float: left;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: rgb(28, 98, 179);
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: inline-block;
 }
 .filter-roll{
    margin: 0px 100px;
    padding-left: 230px;
 }
 .show {
    display: block;
 }
  
.container {
    position: relative;
    width: 50%;
  }
  
.image {
    display: block;
    width: 200px;
    height: 200px;
  }
  
  .overlay {
    position: absolute;
    bottom: 50px;
    left: 12px;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 200px;
    transition: .5s ease;
  }
  .showcase img{
    width: 200px;
    height: 200px;
    position: relative;
  }
  .container:hover .overlay {
    width: 200px;
  }

  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
.but{
    padding: 5% 43%;
}
  .button {
    background-color: #18cfab;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
/* Feature */

/* Breaking News */

.b-post {
    margin-bottom: 20px;
}

.bn-bg {
    background-color: #f8fcfe;
}

.bn-bg img {
    width: 100%;
    position: relative;
}

.bn-text {
    padding-top: 10px;
}

.bn-text a {
    text-decoration: none;
    color: #4e4e4e;
    font-weight: bolder;
    text-align: center;
    font-size: 18px;
    margin: 5px 10px;
}

.bn-text a:hover {
    text-decoration: none;
    color: #18cfab;
}

.bn-text p {
    color: #4e4e4e;
    margin: 5px 10px;
    font-size: 12px;
    font-weight: bold;
}
/* pricing */

.pricing_table {
    line-height: 150%; 
    font-size: 12px; 
    margin: 0 auto; 
    width: 75%; 
    max-width: 800px; 
    padding-top: 10px;
    margin-top: 100px;
}
.pricing_table h3 {
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    background: whitesmoke;
    margin: -10px 0 1px 0;
}
.price_block {
    width: 100%; 
    color: #fff; 
    float: left; 
    list-style-type: none; 
    transition: all 0.25s; 
    position: relative; 
    box-sizing: border-box;
     
    margin-bottom: 10px; 
    border-bottom: 1px solid transparent; 
}
.price {
    text-align: center;
    display: table;
    background: #2e4a5b;
    width: 100%;
    height: 70px;
}
.price_figure {
    font-size: 24px; 
    text-transform: uppercase; 
    vertical-align: middle; 
    display: table-cell;
}
.price_number {
    font-weight: bold; 
    display: block;
}
.price_tenure {
    font-size: 8px;
    margin-left: 60%;
}
.features {
    background: #f5f5f5;
    color: #000;
}
.features li {
    padding: 8px 15px;
    border-bottom: 1px solid #ccc; 
    font-size: 11px; 
    list-style-type: none;
}

.footer {
    padding: 15px;
    background: #f5f5f5;
}
.action_button {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 1px;
    background: #2e4a5b;
    padding: 5px 20px;
    margin-left: 22%;
    font-size: 10px;
    text-transform: uppercase;
}
.price_block:hover {
    box-shadow: 0 0 0px 5px #18cfab; 
    transform: scale(1.04) translateY(-5px); 
    z-index: 1; 
    border-bottom: 0 none;
}
.price_block:hover .price {
    background:linear-gradient(#18cfab, #99ebda); 
    box-shadow: inset 0 0 45px 1px #18cfab;
}
.price_block:hover h3 {
    background: whitesmoke;
    color: #18cfab !important;
}
.price_block:hover .action_button {
    background: linear-gradient(#18cfab, #92cde9); 
}
@media only screen and (min-width : 480px) and (max-width : 768px) {
    .price_block {width: 50%;}
    .price_block:nth-child(odd) {border-right: 1px solid transparent;}
    .price_block:nth-child(3) {clear: both;}
     
    .price_block:nth-child(odd):hover {border: 0 none;}
}
@media only screen and (min-width : 768px){
    .price_block {width: 25%;}
    .price_block {border-right: 1px solid transparent; border-bottom: 0 none;}
    .price_block:last-child {border-right: 0 none;}
     
    .price_block:hover {border: 0 none;}
}
/* pricing */

/* BOXES 2 */
.row{
    --bs-gutter-x: 0 !important;
}
.extra{
    height: 10px;
}
.dot {
    height: 100px;
    width: 100px;
    margin-top: 34px;
    border-radius: 50%;
    display: inline-block;
  }
  .box-icon{
    margin-top: 25px;
  }
  .box-icon-text{
    margin-top: 10px;
    font-weight: bold;
    font-size: 22px !important;
    color: #fff;
  }
  .box-icon-text span{
    font-size: 9px;
    /* color: #18cfab; */
}
/* BOXES 2 */
/* services */
.article{
    padding: 40px 50px;
}
.img-article{
    padding: 0px 0px;
    margin: 25px 0px;
}
.img-article img{
    height: 180px;
}
.para-article{
    padding: 0px 0px;
    margin: 25px 0px;
}
.para-article p{
    text-align: justify;
}

/* services */

/* banner 2 */
.banner-sec-2 {
    width: 100%;
    height: 70vh;
    background-image: url('../images/section.png');
    /* filter: grayscale(60%); */
    fill-opacity: 0.2;
    background-repeat: no-repeat;
    background-position: relative;
    background-size: cover;
}
.banner-sec-2 .btn {
    border-top-width: 5px;
    border-top-color: white;
    text-decoration: white;
    border-radius: 5px;
}
.ban-2{
    text-transform: uppercase;
}
.ban-2 p{
    font-size: 12px;
    font-weight: normal;
}
.ban-2 .btn-sm{
    margin: 50px;
}
.transbox {
    margin: 0px;
    background-color: black !important;
    border: 0.5px solid black;
    opacity: 0.6;
  }
  
  /* div.transbox p {
    margin: 20% 20%;
    font-weight: bold;
    color: #000000;
  } */
  
/* banner 2 */